http_address="0.0.0.0:80"
# cookie_secret=
provider="azure"
cookie_secure="false"

redirect_url=
cookie_domains=".oauth2-proxy.localhost" # Required so cookie can be read on all subdomains.
whitelist_domains=".oauth2-proxy.localhost" # Required to allow redirection back to original requested target.